<?xml version="1.0"?>
<launch>
    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
        <rosparam command="load" file="$(find localization-stack)/config/ekf_localization_local.yaml" />
        <remap from="/odometry/filtered" to="/odometry/filtered" />
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find localization-stack)/config/husky.rviz" />
</launch>
